@import url('https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02191D;
    --foreground: #B3B3B3;
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-roboto text-base;
  /* font-family: 'Jeju Myeongjo', serif; */
}
